name: CI

on: [push, pull_request]

jobs:
  build:
    name: Tests for (${{ matrix.ruby }} on ${{ matrix.os }})
    strategy:
      matrix:
        ruby: [ 3.1, '3.0', 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, head ]
        os: [ ubuntu-latest ]
        include:
          - os: macos-latest
            ruby: 2.4
          - os: macos-latest
            ruby: 2.5
          - os: macos-latest
            ruby: 2.6
          - os: macos-latest
            ruby: 2.7
          - os: macos-latest
            ruby: 3.0
          - os: macos-latest
            ruby: 3.1
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rspec
